In [8]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
from sqlalchemy.sql.expression import asc, desc
import pandas as pd

In [9]:
# Get the names of the Excel Worksheets
xls = pd.ExcelFile("MLS®_HPI_data_en.xlsx", on_demand = True)
sheets = xls.sheet_names
print(sheets)

['Aggregate', 'Vancouver_Island', 'Victoria', 'Lower_Mainland', 'Greater_Vancouver', 'Fraser_Valley', 'Calgary', 'Edmonton', 'Regina', 'Saskatoon', 'Guelph', 'Hamilton_Burlington', 'Oakville_Milton', 'Barrie_and_District', 'Greater_Toronto', 'Niagara_Region', 'Ottawa', 'Greater_Montreal', 'Greater_Moncton']

In [10]:
# Read Excel file
RealEstateDB= pd.read_excel("MLS®_HPI_data_en.xlsx", sheet_name=None)
RealEstateDf = pd.concat(RealEstateDB)
RealEstateDf.reset_index(level=0,inplace=True)
RealEstateDf.head()
RealEstateDf= RealEstateDf.rename(columns={'level_0': 'Region'})
RealEstateDf.head()

,Region,Date,Composite_HPI,Single_Family_HPI,One_Storey_HPI,Two_Storey_HPI,Townhouse_HPI,Apartment_HPI,Composite_Benchmark,Single_Family_Benchmark,One_Storey_Benchmark,Two_Storey_Benchmark,Townhouse_Benchmark,Apartment_Benchmark
0,Aggregate,2005-01-01,100.0,100.0,100.0,100.0,100.0,100.0,266800,293000,240600,334000,212900,195800
1,Aggregate,2005-02-01,100.9,101.0,101.2,100.9,100.5,100.6,269200,295900,243400,337000,214000,197000
2,Aggregate,2005-03-01,101.9,102.2,102.4,102.1,101.1,101.4,271900,299400,246300,341000,215300,198500
3,Aggregate,2005-04-01,102.8,103.2,103.4,103.0,101.8,102.1,274300,302400,248700,344000,216800,199900
4,Aggregate,2005-05-01,103.7,104.1,104.6,103.6,102.6,103.2,276700,305000,251600,346000,218500,202100

In [11]:
RealEstateDf.to_csv('mergeddataset.csv',sep=",")

In [13]:
engine = create_engine("postgres://mjcfycycuflovs:6921e9b498358232d304290ebe8296b4f4c81c9bb77dd802a4bbee192c55c572@ec2-54-243-128-95.compute-1.amazonaws.com:5432/dd07ud23cca0r6")
con=engine.connect()
table_name = 'realestate'
RealEstateDf.to_sql(table_name, con=engine, if_exists="replace")

In [ ]:
print(engine.table_names())